<!DOCTYPE html>
<html lang="en">
 
<head style="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">

	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
 
<body style="padding: 0; margin: 0;">
	<!-- Sidebar -->
	<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%;">
  	  <div class="header" style="text-align: center; padding: 0; margin-top: .25rem;margin-bottom: .5rem;">
  	    <h3 style="font-size: 1rem;">Filters</h3>
	  </div>

      <div data-role="main" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; border-radius: 0px;">
        <fieldset data-role="collapsible" data-collapsed="false" style="margin: 0px 0px 5px 0px;">
          <legend>Cuisine</legend>
	      <input type="checkbox" id="cAmerican" name="cuisine" />
		  <label for="cAmerican">American</label>
		  <input type="checkbox" id="cMexican" name="cuisine" />
		  <label for="cMexican">Mexican</label>
        </fieldset>
	    <fieldset data-role="collapsible" data-collapsed="false" style="padding: 0px 0px 0px 0px; margin: 0px 0px 5px 0px;">
	      <legend>Pricing</legend>
		  <input type="checkbox" id="pHigh" name="pricing" />
		  <label for="pHigh">$$$$</label>
		  <input type="checkbox" id="pMidHigh" name="pricing" />
		  <label for="pMidHigh"><span></span>$$$</label>
		  <input type="checkbox" id="pMidLow" name="pricing" />
		  <label for="pMidLow"><span></span>$$</label>
		  <input type="checkbox" id="pLow" name="pricing" />
		  <label for="pLow"><span></span>$</label>
	    </fieldset>
      </div>
	</div>
    <div class="container" style="margin-left: 20%; max-width: 80%; padding: 0;">
        <div class="header" style="text-align: center; padding: 0; margin-top: .25rem; margin-bottom: .5rem;">
            <h3 class="text-muted" style="font-size: 1rem;">Python Tendies - Resteraunt Finder WebApp</h3>
        </div>

        <div class="jumbotron" style="max-height: 100%; margin: 10px;">
            <h1>Bucket List App</h1>
        </div>
 
        <footer class="footer" style="position: absolute; bottom: 10px; width: 60%; text-align: center;">
            <p>&copy; Teddy Todorov - 2017</p>
            <p>Find it on <a href="https://github.com/forteddyt/TendiesPy" target="_blank">GitHub!</a></p>
        </footer>
 
    </div>

</body> 
</html>