<!DOCTYPE html>
<html lang="en">
 
<head>
	<!-- Difficulty having flask find and use my .css file led to inline CSS  -->
	<style>
		.result{
			width: 2rem;
			height: 1rem;
			border: 3px;
			border-color: solid black;
			z-index: 2;
		}
		#overlay {
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    background: black url(spinner.gif) center center no-repeat;
		    opacity: .5;
		}
	</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	
	<!-- Difficulty having flask find and use my .js file led to inline javascript  -->
	<script>
	var fData;
	var curPage = 0;

	$(function() {
      $('#filters_form').submit('click', function() {
      	$('#FilterSubmit').attr('disabled', true);

        $.getJSON('/_createPanels', {
          formData: $('#filters_form').serialize()
        }, function(data) {
      		$('#FilterSubmit').attr('disabled', false);
        	fData = data;
        	if(Object.keys(fData).length == 0){
        		alert("No results");
        		// Have cleaner 'no results' notifier
        	}else{
        		curPage = 0;
        		pagePanel(curPage);	
        	}
        });
        return false;
      });
    });

	function nextPage(){
		// console.log("Next-ing...");
		curPage++;
		pagePanel(curPage);
	}

	function prevPage(){
		// console.log("Previous-ing...");
		curPage--;
		pagePanel(curPage);
	}


	$("#FilterSubmit").click(function () {
	    $(".overlay").show();
	});

	// Pages start at 0, goto fData size / 3
    function pagePanel(pageNum= 0){
    	// console.log("Moving to pageNum: " + pageNum);

    	console.log(Object.keys(fData).length);


		document.getElementById("navBack").disabled = true;
		document.getElementById("navNext").disabled = true;

		//If on first page and more than 3 results, be able to go next
    	if (pageNum === 0 && Object.keys(fData).length - 1 > 3){
    		document.getElementById("navNext").disabled = false;
    	}
    	//If there are more results than current page(index start at 1) * 3, be able to go next
    	if((pageNum + 1) * 3 < Object.keys(fData).length - 1){
    		document.getElementById("navNext").disabled = false;
    	}
    	//If not on first page, be able to go back
    	if(pageNum != 0){
    		document.getElementById("navBack").disabled = false;
    	}

    	for(i = 3 * pageNum; i < 3 * pageNum + 3; i++){
    		htmlLoc = i % 3 + 1;

    		if(fData["result" + i] == null){
    			document.getElementById("result" + htmlLoc).style.visibility = "hidden";
    		}else{
    			$(".overlay").hide();
    			// console.log("Has result" + i);
    			var curResult = fData["result" + i];
    			document.getElementById("result" + htmlLoc).style.visibility = "visible";
	    		document.getElementById("restName" + htmlLoc).textContent = curResult.name;
	    		document.getElementById("rating" + htmlLoc).textContent = curResult.rating + " stars";
	    		document.getElementById("phone" + htmlLoc).textContent = curResult.display_phone;
	    		switch(curResult.price){
	    			case "$":
	    				document.getElementById("pricing" + htmlLoc).textContent = "Under $10";
	    				break;
	    			case "$$":
	    				document.getElementById("pricing" + htmlLoc).textContent = "$11 - $30";
	    				break;
	    			case "$$$":
	    				document.getElementById("pricing" + htmlLoc).textContent = "$31 - $60";
	    				break;
	    			case "$$$$":
	    				document.getElementById("pricing" + htmlLoc).textContent = "Above $61";
	    				break;
	    		}
	    		document.getElementById("categories" + htmlLoc).textContent = genCatString(curResult.categories);
	    		document.getElementById("locAddress" + htmlLoc).textContent = genLocString(curResult.location);
	    		document.getElementById("restImg" + htmlLoc).src = curResult.image_url;
	    		document.getElementById("distance" + htmlLoc).textContent = curResult.distance;
	    		document.getElementById("reviewCount" + htmlLoc).textContent = curResult.review_count;
	    		// console.log("viewOnYelp" + i + "  -> " + curResult.url);
	    		document.getElementById("viewOnYelp" + htmlLoc).onclick = openClick.bind(null, curResult.url);
	    		document.getElementById("getDir" + htmlLoc).href = "https://www.google.com/maps/dir/Current+Location/" + curResult.coordinates.latitude + "," + curResult.coordinates.longitude;
	    	}
    	}
    }

    function openClick(url){
    	window.open(url, '_blank');
    }

    function genLocString(locData){
    	var locString = "";
    	locString = locData['display_address'];
    	return locString;
    }

    function genCatString(catData){
    	var catString = "";
    	for(catSet of catData){
			catString = catString + catSet['title'] + ", ";
    	}
    	catString = catString.slice(0, -2);    	
    	return catString;
    }
	</script>

</head>
 
<body style="padding: 0; margin: 0; overflow: hidden;">
	<!-- Sidebar -->
	<div class="container" style="float: left; left: 0; max-width: 20%; padding: 0;">
	  <div class="header" style="text-align: center; padding: 0; margin: 0; margin-bottom: .5rem; height: 5%;">
  	    <h3 style="font-size: 125%; font-weight: 900 margin: .1rem">Filters</h3>
	  </div>
	  <form id="filters_form" name="filters_form">
		  <div class="w3-sidebar w3-light-grey w3-bar-block" style=" width:20%; height: 85%;">
	        <div data-role="w3-main" style=" padding: 5px; margin: 0; border-radius: 0px;">
	          <fieldset data-role="collapsible" data-collapsed="false" style="margin: 0px 0px 5px 0px;">
	            <legend>Attributes</legend>
		        <label><input type="checkbox" name="attributes" value="hot_and_new"/>Hot and New Resteraunts</label>
			    <label><input type="checkbox" name="attributes" value="waitlist_reservation"/>Online Waitlist</label>
			    <label><input type="checkbox" name="attributes" value="cashback"/>Cash Back</label>
			    <label><input type="checkbox" name="attributes" value="deals"/>Deals</label>
	          </fieldset>
	          <fieldset data-role="collapsible" data-collapsed="false" style="margin: 0px 0px 5px 0px;">
	            <legend>Cuisine</legend>
		        <label><input type="checkbox" name="categories" value="newamerican"/>American (New)</label>
		        <label><input type="checkbox" name="categories" value="tradamerican"/>American (Traditional)</label>
		        <label><input type="checkbox" name="categories" value="burgers"/>Burgers</label>
		        <label><input type="checkbox" name="categories" value="chinese"/>Chinese</label>
		        <label><input type="checkbox" name="categories" value="hotdogs"/>Fast Food</label>
		        <label><input type="checkbox" name="categories" value="french"/>French</label>
		        <label><input type="checkbox" name="categories" value="greek"/>Greek</label>
		        <label><input type="checkbox" name="categories" value="indpak"/>Indian</label>
		        <label><input type="checkbox" name="categories" value="italian"/>Italian</label>
		        <label><input type="checkbox" name="categories" value="japanese"/>Japanese</label>
		        <label><input type="checkbox" name="categories" value="mediterranean"/>Mediterranean</label>
			    <label><input type="checkbox" name="categories" value="mexican"/>Mexican</label>
			    <label><input type="checkbox" name="categories" value="pizza"/>Pizza</label>

			    <label><input type="checkbox" name="categories" value="spanish"/>Spanish</label>
			    <label><input type="checkbox" name="categories" value="steak"/>Steakhouse</label>
			    <label><input type="checkbox" name="categories" value="thai"/>Thai</label>
	          </fieldset>
	          <fieldset data-role="collapsible" data-collapsed="false" style="padding: 0px 0px 0px 0px; margin: 0px 0px 5px 0px;">
		        <legend>Location Range</legend>
			    <label><input type="radio" name="radius" value="25" />Under 25 miles</label>
			    <label><input type="radio" name="radius" value="20" />Under 20 miles</label>
			    <label><input type="radio" name="radius" value="15" checked/>Under 15 miles</label>
			    <label><input type="radio" name="radius" value="10" />Under 10 miles</label>
			    <label><input type="radio" name="radius" value="5" />Under 5 miles</label>
		      </fieldset>
		      <fieldset data-role="collapsible" data-collapsed="false" style="padding: 0px 0px 0px 0px; margin: 0px 0px 5px 0px;">
		        <legend>Open Status</legend>
			    <label><input type="checkbox" name="open_now" value="true" checked/>Open Now</label>
		      </fieldset>
		      <fieldset data-role="collapsible" data-collapsed="false" style="padding: 0px 0px 0px 0px; margin: 0px 0px 5px 0px;">
		        <legend>Pricing per Meal</legend>
			    <label><input type="checkbox" name="price" value="4"/>Above $61</label>
			    <label><input type="checkbox" name="price" value="3"/>$31 - $60</label>
			    <label><input type="checkbox" name="price" value="2"/>$11 - $30</label>
			    <label><input type="checkbox" name="price" value="1"/>Under $10</label>
		      </fieldset>
		      <fieldset data-role="collapsible" data-collapsed="false" style="padding: 0px 0px 0px 0px; margin: 0px 0px 5px 0px;">
		        <legend>Sort By</legend>
			    <label><input type="radio" name="sort_by" value="best_match" checked/>Best Match</label>
			    <label><input type="radio" name="sort_by" value="rating"/>Rating</label>
			    <label><input type="radio" name="sort_by" value="review_count"/>Review Count</label>
			    <label><input type="radio" name="sort_by" value="distance"/>Distance</label>
		      </fieldset> 
		      <fieldset data-role="collapsible" data-collapsed="false" style="margin: 0px 0px 5px 0px;">
	            <legend>Rating</legend>
		        <label><input type="checkbox" name="rating" value="5"/>5 star</label>
			    <label><input type="checkbox" name="rating" value="4"/>4 star</label>
			    <label><input type="checkbox" name="rating" value="3"/>3 star</label>
			    <label><input type="checkbox" name="rating" value="2"/>2 star</label>
			    <label><input type="checkbox" name="rating" value="1"/>1 star</label>
	          </fieldset>
	          
	        </div>
	      </div>
	      <footer class="footer" style="position: absolute; padding-top: 1%; bottom: 0px; width: 20%; text-align: center;">
			<button id="FilterSubmit">Search</button>
	      </footer>
      </form>
	</div>


    <div class="container" style="float: right; max-width: 20%; padding: 0;">
    	<div class="header" style="text-align: center; padding: 0; margin: 0; margin-bottom: .5rem; height: 5%;">
            <h3 style="font-size: 125%; font-weight: 900 margin: .1rem">Chat Bot</h3>
        </div>
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%; height: 60%;">
            
        </div>
        <textarea style="z-index: 1; position: absolute; bottom: 35%; resize: none; max-width: 19%; margin: .5%;"></textarea>
        <div class="w3-bar-block w3-light-grey" style="position: absolute; bottom: 0; height: 35%; width: 20%;">
          <div class="w3-bar-block w3-light-grey" style="margin: 2%; height: 94%; border: 3px solid #424242; padding: 10px; text-align: center;">
            <p style="font-weight: 900; font-size: 125%;"><u>You can use the bot!</u></p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
            <p>Here's how you use the bot...</p>
          </div>
        </div>
    </div>

    <div class="container" style="margin:0 auto; padding: 0; max-width: 60%; max-height: 100%">
        <div class="header" style="text-align: center; padding: 0; margin: 0; margin-bottom: .5rem; height: 5%;">
            <h3 class="text-muted" style="font-size: 125%; font-weight: 900 margin: .1rem">Python Tendies - Resteraunt Finder WebApp</h3>
        </div>

        <div class="jumbotron" style="min-height: 88vh; max-height: 90vh; margin: 10px; padding: 10px;">
            <div class="panel-group">
			  <div class="panel panel-default" id="result1" style="width: 100%; height: 26vh; margin-bottom: 10px; display: inline-grid; visibility: hidden;">
				  <span class="header" id="restName1" style="font-weight: 900; padding-bottom: 0; font-size: 150%; display: block; margin-bottom: 0;"></span>	    	
			    <div style="font-size: 110%">
			    	<div style="float: left; width:12rem; padding: 0; display: inline-block;">
			    		<div style="margin-bottom: .2rem">
			    			<strong>Rating: </strong>
				    		<span id="rating1"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem">
			    			-from
				    		<span id="reviewCount1"></span>
				    		reviews
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Phone: </strong> 
				    		<span id="phone1"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Pricing: </strong> 
				    		<span id="pricing1"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Distance: </strong> 
				    		<span id="distance1"></span>
			    		</div>
			    	</div>
			    	<div style="float:right; display: inline-block;">
			    		<img id="restImg1" style="margin-top: .25rem; margin-right: .25rem; max-width:14rem; max-height: 6.5rem;">
			    		<!-- Too slow response times on detailed information has removed this -->
			    		<!-- <div style="display: inline-block; margin-right: .5rem; margin-left: .5rem;">
				    		<button id="backImg1"><-</button>
				    		<button id="nextImg1">-></button>
				    	</div> -->
				    	<div style="margin-top: .3rem; margin-right: .25rem; max-width: 8rem;">
				    		<button id="viewOnYelp1">View on Yelp</button>
				    	</div>
			    	</div>
			    	<div style="margin-top: .25rem; max-width: 18rem; text-align: center; display: inline-block;">
			    		<div style="margin-bottom: .25rem;">
			    			<strong>Location: </strong>
			    			<p style="margin-bottom: 0;" id="locAddress1"></p>
			    		</div>
			    		<div style="margin-bottom: .25rem;">
		    				<a target="_blank" href="#" id="getDir1">Get Directions</a>
		    			</div>
			    		<div style="display: inline-block;">
			    			<strong>Categories: </strong>
			    			<span id="categories1"></span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			  <div class="panel panel-default" id="result2" style="width: 100%; height: 26vh; margin-bottom: 10px; display: inline-grid; visibility: hidden;">
				  <span class="header" id="restName2" style="font-weight: 900; padding-bottom: 0; font-size: 150%; display: block; margin-bottom: 0;"></span>	    	
			    <div style="font-size: 110%">
			    	<div style="float: left; width:12rem; padding: 0; display: inline-block;">
			    		<div style="margin-bottom: .2rem">
			    			<strong>Rating: </strong>
				    		<span id="rating2"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem">
			    			-from
				    		<span id="reviewCount2"></span>
				    		reviews
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Phone: </strong> 
				    		<span id="phone2"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Pricing: </strong> 
				    		<span id="pricing2"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Distance: </strong> 
				    		<span id="distance2"></span>
			    		</div>
			    	</div>
			    	<div style="float:right; display: inline-block;">
			    		<img id="restImg2" style="margin-top: .25rem; margin-right: .25rem; max-width:14rem; max-height: 6.5rem;">
			    		<!-- Too slow response times on detailed information has removed this -->
			    		<!-- <div style="display: inline-block; margin-right: .5rem; margin-left: .5rem;">
				    		<button id="backImg2"><-</button>
				    		<button id="nextImg2">-></button>
				    	</div> -->
				    	<div style="margin-top: .3rem; margin-right: .3rem; max-width: 8rem;">
				    		<button id="viewOnYelp2">View on Yelp</button>
				    	</div>
			    	</div>
			    	<div style="margin-top: .25rem; max-width: 20rem;text-align: center; display: inline-block;">
			    		<div style="margin-bottom: .25rem;">
			    			<strong>Location: </strong>
			    			<p style="margin-bottom: 0;" id="locAddress2"></p>
			    		</div>
			    		<div style="margin-bottom: .25rem;">
		    				<a target="_blank" href="#" id="getDir2">Get Directions</a>
		    			</div>
			    		<div style="display: inline-block;">
			    			<strong>Categories: </strong>
			    			<span id="categories2"></span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			  <div class="panel panel-default" id="result3" style="width: 100%; height: 26vh; margin-bottom: 10px; display: inline-grid; visibility: hidden;" >
				  <span class="header" id="restName3" style="font-weight: 900; padding-bottom: 0; font-size: 150%; display: block; margin-bottom: 0;"></span>	    	
			    <div style="font-size: 110%">
			    	<div style="float: left; width:12rem; display: inline-block;">
			    		<div style="margin-bottom: .2rem">
			    			<strong>Rating: </strong>
				    		<span id="rating3"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem">
			    			-from
				    		<span id="reviewCount3"></span>
				    		reviews
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Phone: </strong> 
				    		<span id="phone3"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Pricing: </strong> 
				    		<span id="pricing3"></span>
			    		</div>
			    		<div style="margin-bottom: .2rem;">
			    			<strong>Distance: </strong> 
				    		<span id="distance3"></span>
			    		</div>
			    	</div>
			    	<div style="float:right; display: inline-block;">
			    		<img id="restImg3" style="margin-top: .25rem; margin-right: .25rem; max-width:14rem; max-height: 6.5rem;">
			    		<!-- Too slow response times on detailed information has removed this -->
			    		<!-- <div style="display: inline-block; margin-right: .5rem; margin-left: .5rem;">
				    		<button id="backImg3"><-</button>
				    		<button id="nextImg3">-></button>
				    	</div> -->
				    	<div style="margin-top: .3rem; margin-right: .3rem; max-width: 8rem;">
				    		<button id="viewOnYelp3">View on Yelp</button>
				    	</div>
			    	</div>
			    	<div style="margin-top: .25rem; max-width: 20rem; text-align: center; display: inline-block;">
			    		<div style="margin-bottom: .25rem;">
			    			<strong>Location: </strong>
			    			<p style="margin-bottom: 0;" id="locAddress3"></p>
			    		</div>
			    		<div style="margin-bottom: .25rem;">
		    				<a target="_blank" href="#" id="getDir3">Get Directions</a>
		    			</div>
			    		<div style="display: inline-block;">
			    			<strong>Categories: </strong>
			    			<span id="categories3"></span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			  <div class="button-box col-lg-12">
					<button class="btn btn-info" style="float:left; margin-top: 0%; padding-top: .25rem; padding-bottom: .25rem; width: 7rem;" id="navBack" onclick="prevPage();" disabled>Back</button>
					<button class="btn btn-info" style="float:right; margin-top: 0%; padding-top: .25rem; padding-bottom: .25rem; width: 7rem;" id="navNext" onclick="nextPage();" disabled>Next</button>
			  </div>
			</div>
        </div>
        <footer class="footer" style="position: absolute; padding-top: 1%; bottom: 0px; width: 60%; text-align: center;">
            <p>&copy; Teddy Todorov - 2017 ~~ Find it on <a href="https://github.com/forteddyt/TendiesPy" target="_blank">GitHub!</a></p>
        </footer>
    </div>
</body> 
</html>